*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.d-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.section{
    justify-content: center;
}
.container{
    width: 100vw;
    height: 600px ;
    background-color: antiquewhite;
    justify-content: center;
}

ul{
    margin-top: 100px;
}

li{
    padding: 10px;
}


.completed{
    text-decoration: line-through;
}